<div class="container">

	<table cellspacing='0'>
		<thead>
			<tr>
				<th colspan=4>
					<div [style.font-size.em]='2'>Mascotas</div>
				</th>
			</tr>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>F.Nacimiento</th>
				<th>Descripcion</th>
			</tr>
		</thead>
		<tbody>
			<!-- ngFor en el click del renglon se ejecuta un metodo, se le pasa la mascota actual -->
			<tr *ngFor="let mascota of mascotas" (click)="seleccionarMascota(mascota)">
				<td>{{mascota.id}}</td>
				<td>{{mascota.nombre}}</td>
				<td>{{mascota.fechaNacimiento}}</td>
				<td>{{mascota.descripcion}}</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-success" (click)="nuevaMascota()">Nueva</button>
</div>

<!-- app-editar-mascota nos permite editar la mascota seleccionada
	solo esta visible si mascotaSeleccionada tiene un valor valido
	se realiza un bindeo con este componente y se lee el evento onMascotaUpdate que nos
	permite actualizar el listado si hay algun cambio -->
<app-editar-mascota [mascota]="mascotaSeleccionada" (onMascotaUpdate)="updateMascotas()"></app-editar-mascota>