
.estiloBonito {
	font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 24px;
    color: #546E7A;
}

.estiloColor {
    color: #546E7A;
}
.estiloGrande {
    font-size: 24px;
}